@import "tailwindcss";

:root {
  --font-sans: "Inter", sans-serif;
  --font-display: "Inter Display", sans-serif;
}

@theme {
  --font-body: var(--font-sans);
  --font-display: var(--font-display);

  --text-h1: 4rem /* 64px */;
  --text-h1--line-height: 100%;
  --text-h1--letter-spacing: -0.132rem;
  --text-h1--font-weight: 500;

  --text-h2: 2.25rem /* 36px */;
  --text-h2--line-height: 100%;
  --text-h2--letter-spacing: -0.03375rem;
  --text-h2--font-weight: 500;

  --text-body: 1rem /* 16px */;
  --text-body--line-height: 150%;
  --text-body--letter-spacing: -0.015rem;

  --text-button: 1rem /* 16px */;
  --text-button--line-height: 100%;
  --text-button--letter-spacing: -0.015rem;
  --text-button--font-weight: 500;

  --text-footnote: 0.75rem /* 12px */;
  --text-footnote--line-height: 150%;
  --text-footnote--letter-spacing: 0;

  --color-label-primary: #000;
  --color-label-secondary: #aaa;
}

@layer base {
  h1,
  h2 {
    font-family: var(--font-display);
  }

  /* Media query for mobile */
  @media (max-width: 768px) {
    :root {
      --text-h1: 2.25rem; /* 36px */
      --text-h1--letter-spacing: -0.07425rem;

      --text-h2: 1.75rem; /* 28px */
      --text-h2--letter-spacing: -0.02625rem;
      --text-h2--line-height: 120%;
    }
  }
}
