@import "tailwindcss";

@theme {
  --color-background: #f0f0f0;
  --color-card: #ffffff;
  --color-text-main: #000000;
  --color-text-secondary: #aaaaaa;
  --color-text-tertiary: #666666;

  --font-sans: var(--font-inter);
  --font-display: var(--font-inter-tight);
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  /* light mode only */
  color-scheme: light;
}
